* {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 50px;
}

h1 {
    align-items: center;
}

.list-group-vertical {
    align-items: center;
}

.profile-card {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.profile-picture {
    text-align: center;
}

.profile-picture img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-heading {
    text-align: center;
    margin-bottom: 20px;
}

.profile-body {
    text-align: center;
}

.profile-list {
    list-style: none;
    padding: 0;
}

.profile-list li {
    margin-bottom: 10px;
}

.profile-list li:last-child {
    margin-bottom: 0;
}

body {
    background-color: #f8f9fa;
}

.profile-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.profile-picture {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 20px;
}

.profile-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.profile-details {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
    text-align: center;
}

.profile-label {
    font-weight: bold;
}

.profile-bankroll {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
}

.profile-social {
    margin-top: 20px;
    text-align: center;
}

.profile-social a {
    display: inline-block;
    margin-right: 10px;
    color: #007bff;
}



/*  wolf game====================== wolf game  */

.flexed {
    display: flex;
}

h1 {
    text-align: center;
}


.games-container {
    margin-left: 600px;
}

.gamesBox {
    justify-content: space-between;

}



.wolf-rules {
    width: 500px;
    height: 400px;
}